 <!-- <mat-toolbar color="primary">
	<mat-toolbar-row>
	  <h3>Taslog</h3>
	</mat-toolbar-row>
  
	<mat-toolbar-row>
	  <span class="spacer"></span>
	  <div>
		<ng-template [ngIf]="true">
		  <button mat-raised-button color="primary" routerLink ="/login" routerLinkActive="active" >LogIn</button>
		  <button mat-raised-button color="primary" routerLink ="/register" routerLinkActive="active">Register</button>
		</ng-template>
		<button mat-raised-button color="primary" (click)="logOut()" *ngIf="isAuthenticated()">Logout</button>
		<button mat-raised-button color="primary" routerLink ="/angular-material" *ngIf="isAuthenticated()">{{displayName}}</button>
	  </div>
	</mat-toolbar-row>
  </mat-toolbar> -->

<router-outlet></router-outlet>
<!-- <div *ngIf="isLoading" class="text-center my-4">
  <app-loading-spinner></app-loading-spinner>
</div> -->

